<speecher-nav [config]="navConfig"></speecher-nav>
<p class="fixed-bottom m-2" *ngFor="let alert of alerts">
  <ngb-alert class="border-0" [dismissible]="false" [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
</p>
<div class="all-notes-container">
  <ngb-accordion #acc="ngbAccordion">
    <ng-template ngFor let-item [ngForOf]="notes" let-i="index" [ngForTrackBy]="identify">
      <ngb-panel [id]="i">
        <ng-template ngbPanelTitle>
          <div class="panel-title bg-transparent">
            <strong class="m-0">{{item.name}}</strong>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          {{item.note}}
          <hr />
          <ng-template ngFor let-word [ngForOf]="item.words" let-i="index" [ngForTrackBy]="identify">
            <ng-template [ngTemplateOutlet]="contentTemplate" [ngTemplateOutletContext]="{word: word}">
            </ng-template>
            <br>
          </ng-template>
        </ng-template>
      </ngb-panel>
    </ng-template>
  </ngb-accordion>
</div>
