@import '../../../../styles.scss';
.all-notes-container {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: $speecher-nav-bar-height;
}
@import "../../../../styles.scss";
ngb-accordion {
  height: 100%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0;
  .panel-title {
    width: 80vw;
    text-align: left;
  }
  @extend .speecher-font-big;
}
