@import './shared/shared.scss';
body.speecher-dark {
  --navbar-item-text-focus-color: azure;
  --navbar-item-border-color: whitesmoke;
  --navbar-item-text-color: #{$speecher-dark-freeze};
  --speecher-overlay-bg-color: #{$speecher-dark-mania};
  --speecher-main-bg-color: #{$speecher-dark-smooth};
  --speecher-search-border-color: #{$speecher-dark-2d};
  --speecher-sidebar-fg-color: #{$speecher-dark-bed};
  --speecher-sidebar-search-border-color: #{$speecher-dark-tobe};
  --speecher-sidebar-bg-color: #{$speecher-dark-fire};
  --speecher-sidebar-container-bg-color: #{$speecher-dark-cristal};
  --speecher-menu-header-fg-color: #{$speecher-dark-scrible};
  --speecher-sidebar-menu-decor-fg-color: #{$speecher-dark-brick};
  --speecher-sidebar-menu-fg-color: #{$speecher-dark-shine};
  --speecher-sidebar-menu-decor-bg-color: #{$speecher-dark-brick-shadow};
  --speecher-body-bg-color: #{$speecher-dark-almo};
  --speecher-toast-success-bg-color: #{$speecher-green-pees};
}
