@import './dark.scss';
@import './light.scss';

body,
html {
  height: 100%;
  background: var(--speecher-body-bg-color);
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none;
}
