<speecher-nav class='d-sm-block d-md-none' [config]='navConfig'></speecher-nav>
<div class="d-flex flex-column flex-md-row justify-content-between speecher-home">
  <div class="jumbotron">
    <div class="d-flex flex-row justify-content-start ml-0 mr-0 p-1">
      <img *ngIf="isLoggedIn" class="rounded mr-2 speecher-avatar" [src]="user.avatar">
      <h1 *ngIf="!isLoggedIn" class="display-4 text-yellow">Hello, <strong>Speecher!</strong></h1>
      <ul *ngIf="isLoggedIn" class="list-group list-group-flush speecher-user-info">
        <li class="list-group-item text-yellow pt-0">{{user.name}}</li>
        <li class="list-group-item">{{user.email}}</li>
      </ul>
    </div>
    <hr class="my-4">
    <p class="lead">Read English everyday preferably in short amount. Note your english story. Pick unknown words or phrases, and
      save them in your google drive for future reference.</p>
    <hr class="my-4">
    <p *ngIf="!isLoggedIn">You should login to google to save notes for all your devices.
      Don't worry! We have access only to single folder in your google drive named <strong>Speecher-Data-Folder</strong>.
    </p>
    <p class="lead">
      <button *ngIf="!isLoggedIn" class="btn btn-success btn-lg" (click)="login()" role="button">Login</button>
      <button *ngIf="isLoggedIn" class="btn btn-success btn-lg" (click)="logout()" role="button">Logout</button>
    </p>
  </div>
  <div class="d-none d-md-flex flex-column justify-content-center speecher-menu">
    <ul class="list-group list-group-flush">
      <li *ngFor="let dropdownItem of navConfig.button.dropdownItems"
            class="list-group-item list-group-item-action text-darkgray text-center"
            (click)="dropdownItem.click($event, dropdownItem)">{{dropdownItem.text}}
      </li>
    </ul>
  </div>
</div>
