<div class="speecher-home">
  <div class='speecher-welcome'>
    <p>Welcome <br/> Speecher</p>
  </div>
  <div class="speecher-menu">
    <button type="button" (click)="createTodaysNote()" class="btn btn-success menu-item">Create Today's Note</button>
    <button type="button" (click)="showAllNotes()" class="btn btn-success menu-item">My Days</button>
    <button type="button" class="btn btn-success menu-item">All My Words</button>
    <button type="button" class="btn btn-success menu-item">All My Phrases</button>
    <button type="button" class="btn btn-success menu-item">Pick 5 Randoms</button>
    <button type="button" class="btn btn-success menu-item">A Random Sweet Old Day</button>
  </div>
</div>
