<div class='jumbotron big'>
  <h1>Sita</h1>
  <br>
  <p (click)='showToast()'>
    3400 BCE, somewhere near the Godavari River, India Sita cut quickly and efficiently, slicing through the thick leaf stems with her sharp knife. The dwarf banana trees were as tall as she was. She did not need to stretch. She stopped and looked at her handiwork. Then she cast a look at Makrant, the Malayaputra soldier, a short distance away. He had cut down perhaps half the number of leaves that Sita had. The weather was calm. Just a little while ago, the wind had been howling through this part of the forest. Unseasonal rain had lashed the area. Sita and Makrant had stood under a thick canopy

Amish. Sita: Warrior of Mithila (Ram Chandra) (p. 1). Westland. Kindle Edition.
  </p>
  <p>
    of trees to save themselves from the rain. The winds had been so loud that it had been almost impossible for them to talk to each other. And just as suddenly, calm had descended. The rain and winds had vanished. They’d quickly headed to a patch of the woods with an abundance of dwarf banana trees. For the entire purpose of the excursion was to find these leaves. ‘That’s enough, Makrant,’ said Sita. Makrant turned around. The wetness had made it hard to cut the leaf stems. Under the circumstances, he had thought that he had done a good job. Now, he looked at the stack of leaves by Sita’s side. And then down at his own much smaller pile. He smiled sheepishly.

    Amish. Sita: Warrior of Mithila (Ram Chandra) (pp. 1-2). Westland. Kindle Edition.
  </p>
  <speecher-toasts aria-live="polite" aria-atomic="true"></speecher-toasts>
</div>
