<div class='home-nav'>
  <small>11 mins ago</small>
  <button type="button" class="btn bg-transparent" (click)='toggleStart()'>
    <fa-icon [style.color]="micColor()" [icon]="icons.microfone"></fa-icon>
  </button>
</div>
<section class='home-speech'>
  <p>
    3400 BCE, somewhere near the Godavari River, India Sita cut quickly and efficiently, slicing through the thick leaf stems with her sharp knife. The dwarf banana trees were as tall as she was. She did not need to stretch. She stopped and looked at her handiwork. Then she cast a look at Makrant, the Malayaputra soldier, a short distance away. He had cut down perhaps half the number of leaves that Sita had. The weather was calm. Just a little while ago, the wind had been howling through this part of the forest. Unseasonal rain had lashed the area. Sita and Makrant had stood under a thick canopy

Amish. Sita: Warrior of Mithila (Ram Chandra) (p. 1). Westland. Kindle Edition.
3400 BCE, somewhere near the Godavari River, India Sita cut quickly and efficiently, slicing through the thick leaf stems with her sharp knife. The dwarf banana trees were as tall as she was. She did not need to stretch. She stopped and looked at her handiwork. Then she cast a look at Makrant, the Malayaputra soldier, a short distance away. He had cut down perhaps half the number of leaves that Sita had. The weather was calm. Just a little while ago, the wind had been howling through this part of the forest. Unseasonal rain had lashed the area. Sita and Makrant had stood under a thick canopy

Amish. Sita: Warrior of Mithila (Ram Chandra) (p. 1). Westland. Kindle Edition.

  </p>
</section>
