p {
  font-size: 1.3em;
  line-height: 2.0em;
  word-spacing: 0.06em;
  margin-bottom: 2.0em;
}
.jumbotron {
  h1 {
    font-size: 4.0em;
  }
}

div , button {
  background:var(--speecher-sidebar-bg-color);
  color: var(--speecher-sidebar-fg-color);
}
