<ng-template>
  <ngb-accordion activeIds="desc-panel, example-panel">
    <ngb-panel id='desc-panel'>
      <ng-template ngbPanelHeader let-opened="opened">
        <strong class="m-0">Description</strong>
      </ng-template>
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit
      </ng-template>
    </ngb-panel>
    <ngb-panel id='example-panel'>
      <ng-template ngbPanelHeader>
        <strong class="m-0">Example</strong>
      </ng-template>
      <ng-template ngbPanelContent>
        Aw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ng-template>
