<ng-template let-word="word">
  <ngb-accordion activeIds="examples, meaning">
    <ngb-panel id='meaning'>
      <ng-template ngbPanelTitle>
        <strong class="m-0">{{word.name}}</strong>
      </ng-template>
      <ng-template ngbPanelContent>
        {{word.meaning}}
      </ng-template>
    </ngb-panel>
    <ngb-panel id='examples' *ngIf="word.example.length !== 0">
      <ng-template ngbPanelTitle>
        <strong class="m-0">Example</strong>
      </ng-template>
      <ng-template ngbPanelContent>
        <ng-template ngFor let-example [ngForOf]="word.example" let-i="index" [ngForTrackBy]="identify">
          {{example}}<hr/>
        </ng-template>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ng-template>
